<h1>Super Form Partial</h1>

<%= form_for(@answer, url: answers_create_path) do |f| %>
  <div>
    Name: <%= f.text_field :name %>
  </div>
  <div>
    Favorites:
    <ul>
      params=(:name, :chocolate, :puppies, :rainbows, :cold_hard_cash)
      params.each do |p|
      <%= render 'form' %>
      <%= render 'form' %>
      <%= render 'form' %>
      <%= render 'form' %>
        end
    </ul>
  </div>
<%= f.submit %>
<% end %>
